<!--
      FILE: views/registration.hbs
      DESCRIPTION: This page is generated when the user wishes to create an account at GatorMart. 
      It prompts the user to fill out a form with their SFSU email and basic information. 

      ADDED BY: Melissa Ho
-->

<body>
  <div class="main-container">
    <div class="page-wrap">
      <section class="section my-1">
        <div class=" text-center">
          <div class="title py-5">
            <p class="float-left" id="num-results" style="margin-left: 10%;">
              {{#if num_results}}
                Showing {{num_results}} results for "{{search}}" in {{category}}
              {{else}}  
                We couldn't find anything for "{{search}}" in {{category}}.
                Here are some things you might like.
              {{/if}}
            </p>
            <select onchange="this.form.submit()" class="float-right" form="navBarSearchForm" name="sortby" id="sortby" style="margin-right:10%">
              {{#each sortby}}
              <option class="dropdown-item" value="{{value}}" {{#if selected}} selected {{/if}}>{{label}}</option>
              {{/each}}
            </select>
          </div>
          <br>
          <!-- Image cards  -->
            <div class="flex-row" style="width: 100%" id="cards-section-append">
              {{#each posts}}
                {{!-- <div class="col-md-3 mb-2"> --}}
                  <div class="d-inline-flex p-2">
                  <div class="card shadow" style="width: 18rem;">
                    <a href="/item?id={{id}}">
                      <img
                        src="{{image_link}}"
                        class="card-img-top"
                        alt="..."
                      /></a>
                    <div class="card-body">
                      <h5 class="card-title font-poppins">{{title}}</h5>
                      <span>{{category}}</span>
                      <h6 class="mb-3">${{price}}</h6>
                      <!-- Button Trigger Modal -->
                  <button type="button" class="cart-btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter{{id}}">
                    Message Seller
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <form class="modal-content" method="POST" action="/messages/send">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Message {{username}}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="item">
                            <label for="instructions">Message Body<span>*</span></label>
                            <textarea id="instructions" name="body" rows="3" maxlength="10000" required></textarea>
                          </div>
                          <input type="hidden" name="post_id" value="{{id}}" id="send-message-user-id">
                          <input type="hidden" name="receiver_id" value="{{user_id}}" id="send-message-user-id">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="phoneNumber" style="display: inline-block;" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Send Phone Number?
                            </label>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <button type="submit" class="cart-btn btn-primary">Send Message</button>
                        </div>
                      </form>
                    </div>
                  </div>
                    </div>
                  </div>
                </div>
            {{/each}}
            </div>
        </div>
      </section>
    </div>
    <!-- Footer Starts-->

    <!-- Footer Ends-->
  </div>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <script>
    $('.dropdown a').click(function(){ $('#selected').text($(this).text()); });
  </script>
</body>